<div id="header">
    <div class="container">

        <!-- Logo -->
        <h3><a href="#" id="logo">農夫顧問</a></h3>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/dashboard">首頁</a></li>
                <li><a href="#">農園狀況</a></li>
                <li><a href="#">農園數據</a></li>
            </ul>
        </nav>


        <!-- Banner -->
        <div id="banner">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>歡迎 <%= user.name %>
                        </h2>
                        <span class="byline">讓我們為您的農園把關，不再為了蟲蟲危機而困擾</span>
                    </header>
                    <a href="/users/logout" class="btn btn-secondary button alt">登出</a>
                </section>
            </div>
        </div>

    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/skel-layers.min.js"></script>
<script src="/js/init.js"></script>