<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-cat fa-3x"></i></h1>
        <p>建立帳號</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >註冊</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">登入</a>
      </div>
    </div>
  </div>